body
{
color:green;
font-family:Verdana,Arial,Geneva,Arial Black;
font-weight:bold;
background-color:#ffcf79;
font-size:25px;
}
h1{
text-decoration:underline;
font-size:100%;
}
h2{
text-decoration:underline;
font-size:1.2em;

}
p.para1
{
color:blue;
font-size:25px;
font-family:helvetica;
}
p.para2
{
color:black;
font-size:25px;
font-family:helvetica;
}
p.para3
{
color:black;
font-size:25px;
font-family:helvetica;
font-style:italic;
}
