body{
	color:red;
	font-family:verdana ,arial, arial black,helvetica ;
	font-weight:bold;
	background-color:green; font-size:100%;
	font-size:87px;
}
h2{
	text-decoration: underline;
	font-size: 1.2em;
}
